@{
    ViewData["Title"] = "Home Page";
    Layout = ViewBag.Layout ?? "_Layout"; // Utilisez le layout par défaut sauf si ViewBag.Layout est défini

}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-4 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <p class="text-center">Course à pied</p>
                <form action="@Url.Action("checkLogEquipe", "Auth")" method="post">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Votre email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="equipe.a@gmail.com">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Votre mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" name="mdp" value="equipeA">
                  </div>
                    @if (!string.IsNullOrEmpty(ViewBag.ErreurLogin))
                    {
                      <div class="alert alert-danger" role="alert">
                        @ViewBag.ErreurLogin
                      </div>
                    }
                  <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Se connecter</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>