<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Course  @ViewData["Profil"] </title>
    <link rel="shortcut icon" type="image/png" href="~/login/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/login/assets/css/styles.min.css" />
</head>
<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"  data-sidebar-position="fixed" data-header-position="fixed">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    </div>
</body>
</html>